{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "prettier"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error"
  },
  "globals": {
    "React": "writable"
  }
}
